<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Location Information
        </div>
        <ionic-card-content>
            <h5 style="padding:0 0 0 15px">Our Address</h5>
            <p style="padding: 0 0 0 15px">
                121 Clear Water Bay Road <br>
                Clear Water Bay, Kowloon <br>
                HONG KONG   <br>
                <i class="icon ion-android-call">  +852 1234 5678</i><br>
                <i class="icon ion-android-print">  +852 8765 4321</i><br>
                <i class="icon ion-android-mail">  <a>confusion@food.net</a></i><br>
            </p>
        </ionic-card-content>
      </div>
    <div class="button-bar">
        <a class="button button-medium button-positive icon ion-android-call"> Call</a>
        <a class="button button-medium button-calm icon ion-social-skype"> Skype</a>
        <a class="button button-medium button-balanced icon ion-android-mail"> Email</a>
    </div>
  </ion-content>
</ion-view>